body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
  color: #333;
  text-align: center;
}

header {
  background: #0A1D56;
  color: white;
  padding: 2rem;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background: #222;
  color: #ddd;
  padding: 1rem;
}
